<div class="table-responsive">
  <div class="page-header">
  <h1>Health Care Facilities Management</h1>
  </div>
    <table class="table table-striped table-bordered table-hover">
<thead>
<tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Type</th>
    <th>Total Capacity</th>
    <th>Current Users</th>              
</tr>
</thead>
<tbody>
    <% @fac_array.each_with_index do |fac, i| %>
    <tr>
    <td><%= fac["lat"] %></td>
    <td><%= fac["lon"] %></td>        
    <td><%= @typ[i] %></td>
    <td><%= @amount[i] %></td>
    <td><%= @current[i] %></td>       
    <% end %>   
</tbody>
</table>

</div>
