<script src="//maps.google.com/maps/api/js?v=3.23&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

<style>
  .adp {
    overflow: scroll;
  }
  
  #map_panel {
    width: 1178px;
    height: 400px;
  }

  #directions {
     width: 770px;
     height: 400px;
     float: left
  }
  
  #map {
     width: 770px;
     height: 400px;
     float: left
  }
  
  #right-panel {
    font-family: 'Roboto','sans-serif';
    width: 400px;
    height: 400px;
    margin-left: 778px;'
    overflow: scroll;
  }

  #right-panel select, #right-panel input {
    font-size: 15px;
  }
</style>

<div class="page-header">
  <h1>Health Care Facilities Map</h1>
</div>

<ul id="filter-type">
  <%= form_tag "health_facilities#index", :method => "get", :id => "search-form" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search address" %>
    <%= submit_tag "Search" %>
  <% end %>
</ul>

<ul id="submit-type">
  <%= form_tag "health_facilities#index", :id => 'health_facility_form', method: "get" do %>
    <%= select_tag "typeOf[]", options_for_select(@all_types), :include_blank => "All" %>
    <%= submit_tag 'Submit' %>
  <% end %>
</ul>

<ul><button onclick="actionsOnMap(true)">Switch view</button></ul>

<ul id="mode-list">
  <div>
    <b>Mode of Travel: </b>
    <select id="mode">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
  </div>
</ul>

<ul>
  <div>
    <b>User address: </b><%= @geocoder_user_address %>
  </div>
</ul>

<ul>
  <div>
    <b>Selected type of facilities: </b><%= if @checked_types == @all_types then 'All types' else @checked_types end %>
  </div>
</ul>

<ul>
  <div id="map_panel">
    <div id="directions"></div>
    <div id="right-panel"></div>
  </div>
</ul>

<ul>
  <div>
    <b>Map legend:</b><font color ='green'> green</font>  indicates the user origin place; <font color ='orange'>orange</font> indicates the best choice and <font color ='red'>red</font> indicates another options.
  </div>
</ul>

<script type="text/javascript">
  var routeMode = true;
  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();
  actionsOnMap(true);
  
  document.getElementById('mode').addEventListener('change', function() {
    actionsOnMap(false);
  });
  
  function actionsOnMap(switchRouteMode) {
    if (switchRouteMode) {
      routeMode = !routeMode;
      if (routeMode)
        document.getElementById("map").id = "directions";
      else
        document.getElementById("directions").id = "map";
    }

    if (!routeMode) {
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @user_markers.to_json %>)
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      document.getElementById("right-panel").style.visibility = "hidden";
      document.getElementById("mode-list").style.visibility = "hidden";
    } else {
      document.getElementById("right-panel").style.visibility = "visible";
      document.getElementById("mode-list").style.visibility = "visible";
        var user = {
        lat: <%=raw @user_coordinates[0] %>,
        long: <%=raw @user_coordinates[1] %>
      };
      var winner = {
        lat: <%=raw @winner_coords[0] %>,
        long: <%=raw @winner_coords[1] %>
      };
      
      var selectedMode = document.getElementById('mode').value;
    
      function calcRoute() {
        var origin = new google.maps.LatLng(user.lat, user.long);
        var destination = new google.maps.LatLng(winner.lat, winner.long);
        
        var request = {
            origin: origin,
            destination: destination,
            travelMode: google.maps.TravelMode[selectedMode]
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
        directionsDisplay.setPanel(document.getElementById('right-panel'));
        document.getElementById('right-panel').style.overflow = "scroll";
      }
    
      calcRoute();
    
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'directions'}}, function(){
        directionsDisplay.setMap(handler.getMap());
      });
      handler.fitMapToBounds();
    }
  };
</script>
